p {
    margin-top: 70px;
    margin-left: 50px;
 }

 #image{
     position: absolute;
     left: 300px;
     top: 200px;
 }

 .imagem{
    position: relative;
    left: 30px;
    top: 60px;
    height: 250px;
    width: 280px;
}